{% load static %}
<html>
<head>
    <title>Django blog</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body class="container container-fluid">
<header class="pb-5 pt-5">
    <div class="float-start">
        <a href="{% url 'home' %}" class="text-success text-decoration-underline">
        Personal blog
    </a>
    </div>
    <div class="float-end">
        <a href="{% url 'post_new' %}" class="text-success text-decoration-underline">
        + Add new post
    </a>
    </div>
</header>
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>