{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for post in object_list %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2><a href="" class="text-primary">{{ post.body }}</a></h2>
                    </div>
                    <div class="card-body">
                        <p>{{ post.title }}</p>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock content %}